.layout div {
    border: 2px solid #333;
    padding: 0px;
    background: #f0f0f0;
    text-align: center;
    overflow: hidden; /* Ensures content does not flow outside the grid item */
    cursor: move; /* Indicates an item can be moved */

    /* Prevent dragging */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Additional styles for resizing */
.layout div:hover {
  border-color: #017aff; /* Highlight item on hover */
}

.layout .react-resizable-handle {
  display: block;
  background-color: #ff7f7a;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.react-grid-placeholder {
  background: transparent !important;
  outline: 2px dashed #017aff !important; /* Example: dashed blue outline */
  opacity: 0.5; /* Semi-transparent */
  z-index: -1; /* Make it render below the dragging element */
}
